<form [formGroup]="myForm" autocomplete='off' (ngSubmit)="onSubmit()">
  <h1 [style.color]="'green'">Welocome</h1>
  <mat-form-field appearance="fill">
    <mat-label>Enter your Name</mat-label>
    <input matInput placeholder="Enter your name" formControlName="name">
    <mat-error *ngIf="
        myForm
          .get('name')
          .hasError('required')
      ">
      Please enter your name</mat-error>
    <mat-error *ngIf="
    myForm
          .get('name')
          .hasError('minlength') &&
          !myForm
          .get('name')
          .hasError('pattern')
      ">
      please enter atleast 3 characters</mat-error>
    <mat-error *ngIf="
    myForm
          .get('name')
          .hasError('pattern')
      ">
      Please enter only characters</mat-error>
      <mat-error *ngIf="
      myForm
            .get('name')
            .hasError('forbidden')
        ">password should not be entered.</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Enter your Email Id</mat-label>
    <input matInput placeholder="Enter your Email-Id" formControlName="email">
    <mat-error *ngIf="
      myForm
        .get('email')
        .hasError('required')
    ">
      Please enter your Email-id</mat-error>
    <mat-error *ngIf="
  myForm
        .get('email')
        .hasError('email')
    ">
      Please enter valid Email-Id</mat-error>
  </mat-form-field>
  <br>
  <mat-checkbox formControlName="checkBox">Click on me</mat-checkbox>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>password</mat-label>
    <input matInput placeholder="Enter your password" formControlName="password">
    <mat-error *ngIf="
      myForm
        .get('password')
        .hasError('required')
    ">
      Please enter your password</mat-error>
      <mat-error *ngIf="
      myForm
        .get('password')
        .hasError('pattern')
    ">
      password should contain eight characters including one uppercase letter, one lowercase letter, and one number or special character.</mat-error>
  </mat-form-field>
  <br>
    <mat-form-field appearance="fill">
    <mat-label>Confirm password</mat-label>
    <input matInput placeholder="Enter your password" formControlName="confirmPassword">
    <mat-error *ngIf="
      myForm
        .get('confirmPassword')
        .hasError('required')
    ">
      Please re-enter your password</mat-error>
  </mat-form-field>
  <mat-error *ngIf="
  myForm
    .hasError('misMatch')
">
 password doesn't match</mat-error>

  <br>
  <mat-form-field appearance="fill">
    <mat-label>Enter your Mobile Number</mat-label>
    <input matInput placeholder="Enter your Mobile Number" formControlName="mobile">
    <mat-error *ngIf="
        myForm
          .get('mobile')
          .hasError('required')
      ">
      Please enter your mobile number</mat-error>
    <mat-error *ngIf="
    myForm
          .get('mobile')
          .hasError('minlength') &&
          !myForm
          .get('mobile')
          .hasError('pattern')
      ">
      please enter 10 digit Mobile Number</mat-error>
    <mat-error *ngIf="
    myForm
          .get('mobile')
          .hasError('pattern')
      ">
      Please enter only digits</mat-error>
  </mat-form-field>
  <br>
  <button mat-raised-button type="submit" color="primary" [disabled]="myForm.invalid">Log-in</button>
</form>
